/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container styles */
.main {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Carousel container styles */
.carousel-container {
  box-shadow: 2px 2px 5px #0000004d;
  position: relative;
  height: 530px;
  width: 500px;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

/* image style */

img{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* Selected drink container styles */
.selected-drink {
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Drink image styles */
.drink-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Drink name styles */
.drink-name {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Recipe button styles */
.recipe-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Recipe dropdown styles */
.recipe-dropdown {
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Previous and next buttons styles */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
